{{ partial "header.html" . }}
<main>
  <section>
    <header>
      <h2>{{ .Title }}</h2>
      <div class='article-info'>
        <time>{{ .Date.Format "2006-01-02 15:04:05" }}</time>
        <br/>
  {{ with ($.Param "categories") }}
        <span>カテゴリー:</span>
      {{ range $k := . }}
        <span style='padding-left:3px;'><a href="{{ relURL (print "/categories/" $k | urlize) }}">{{$k}}</a></span>
  {{ end }}{{ end }}
      </div>
    </header>
    <hr>
    <article>
      {{ .Content }}
    </article>
  </section>
  {{ partial "sidebar.html" . }}
</main>
{{ partial "footer.html" . }}
